body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}


header {
    background-color: #93b7dd;
    color: rgb(28, 23, 23);
    padding: 10px 0;
}

header ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

header ul li {
    display: inline;
    margin: 0 20px;
    font-weight: bold;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}


h2, h3 {
    color: #0c1928;
}


p {
    line-height: 1.6;
    color: #555;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    color: white;
}

td {
    color: #333;
}


th {
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:nth-child(odd) {
    background-color: #e9ecef;
}


footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #9cc0e6;
    color: white;
}